deep-translator==1.11.4
edge-tts==7.0.2
streamlit==1.26.0
PyPDF2==3.0.1
gtts==2.3.2
googletrans==4.0.0-rc1
httpcore==0.9.1
httpx==0.13.3
pycryptodome==3.21.0
deep-translator==1.11.4
pycountry==24.6.1

